$base-color: #5B88E5;

body {
	margin: 0;
}

#nav {
	padding: 16px;
}

.navlink {
	text-decoration: none;
	color: $base-color;
	margin: 0 8px;
}

.serverError-container {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
