body {
	margin: 0;
}

#nav {
	padding: 16px;
}

a {
	text-decoration: none;
	color: #5B88E5;
	margin: 0 8px
}
h1{
	text-align: center;
}
img {
	height: 360px;
	width: 360px;
}
.profile-container {
	padding: 24px;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-main-info {
	background: #c4c4c4;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	padding: 32px;
}

.profile-container{
	display: grid; 
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 96px;

	height: 560px;
}

.profile-adding-info {
	display: grid; 
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	gap: 36px;
}

.profile-adding-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 48px;

	border-radius: 20px;
	background-color: #c4c4c4;
}

.input-container  {
	display: flex;
	justify-content: space-between;
}
.profile-form-input {
	outline: none;
	height: 32px;
	width: 240px;
	border-radius: 10px;
	border: 1px solid #5B88E5;
	padding: 0 8px;
}