$base-color: #5b88e5;
$primary-color: #c4c4c4;
$light: #fff;

%dialog-item {
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 4px;
}

%message-input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    height: 32px;
    border-radius: 5px;
    border: 1px solid $base-color;
    padding: 0 8px;
}

body {
    margin: 0;
}

#nav {
    padding: 16px;
}

.navigation-panel {
    display: flex;
    margin-top: 30px;
}

.navlink {
    text-decoration: none;
    border: none;
    background-color: $light;
    color: $base-color;
    margin: 0 8px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.messenger-container {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.messenger-chat {
    width: 70%;
    border: 1px solid $primary-color;
    border-radius: 5px;
    margin-right: 8px;
    height: 80vh;
    padding-bottom: 16px;
}

.messenger-dialogs {
    width: 25%;
}

.dialog-title {
    div {
        button {
            text-decoration: none;
            border: none;
            outline: none;
            color: $base-color;
            cursor: pointer;
            background: none 
        }
    }
    @extend %dialog-item;
}

.dialog-search {
    padding: 8px 0;
}

.dialog-message-input {
    @extend %message-input;
}


input::placeholder {
    color: $base-color;
    padding: 0 8px;
}

.dialog-container {
    @extend %dialog-item;

    &:hover {
        cursor: pointer;
    }
}

.messenger-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messenger-input {
    margin: 10px 16px 32px 16px;
    position: relative;
}   

.send-button{
    margin-top: 8px;
    outline: none;
    border: none;
    background-color: $base-color;
    color: $light;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    right: 0;
}

.messenger-chat-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    label {
        color: $base-color;
    }
}
